<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body style="background-color: #ffe4e1;">

<div class="container my-4">
    <h3 class="text-center text-danger">Create New Product</h3>

    <form th:action="@{/product/create}" th:object="${product}" method="post" class="mt-4">
        <div class="form-group">
            <label for="nameInput" style="color: #d26a98;">Name</label>
            <input required th:field="*{productName}"
                   type="text"
                   class="form-control mb-4 col-4"
                   id="nameInput"
                   placeholder="Enter product name"
                   style="border-color: #f8a5c2;">
        </div>
        <div class="form-group">
            <label for="quantityInput" style="color: #d26a98;">Quantity</label>
            <input required th:field="*{productQuantity}"
                   type="number"
                   min="1"
                   class="form-control mb-4 col-4"
                   id="quantityInput"
                   placeholder="Enter product quantity"
                   style="border-color: #f8a5c2;">

        </div>
        <button id="createButton" type="submit" class="btn btn-sm text-white" style="background-color: #f8a5c2;">Submit</button>
        <a th:href="@{/product/list}" class="btn btn-sm text-white ml-2" style="background-color: #ff6b81;">Back to List</a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>